#root {
    -fx-font-size: 32;
    -fx-font-family: Arial;
}

.crvena {
    -fx-background-color: lightpink;
}

.prikazi {
    -fx-alignment: center;
    -fx-opacity: 1;
}

.sakrij {
    -fx-opacity: 0;
}
